<div class='edit-client-pg'>
  <h2 class='edit-client-header'>Edit Client</h2>
  <%= form_for [:user, @client] do |f| %>
    <div class="edit-client">
      <%= f.text_field :name, placeholder: 'name' %>

      <%= f.text_field :email, placeholder: 'email' %>

      <%= f.submit class: 'submit-btn' %>
    </div>
  <% end %>
</div>
