
<div class='new-client-pg'>
  <h2 class="new-client-header">New Client</h2>
  <%= form_for [:user, @client] do |f| %>
    <div class="new-client">
      <%= f.text_field :name, placeholder: 'name' %>

      <%= f.text_field :email, placeholder: 'email' %>

      <%= f.submit 'CREATE CLIENT', class: 'submit-btn' %>
    </div>
  <% end %>
</div>