.client:hover {
  .client-name {
    color: red;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
  }
}

.style:hover {
  background-color: #f5f5f5;
  .table-style-name {
    text-decoration: underline;
    color: red;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
  }
}