.client-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.client-name {
  font-weight: normal;
}

.style-index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  margin-top: 25px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

td {
  text-align: center;
  padding: 10px;
}

tr:hover {background-color: #f5f5f5;}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;  
}