.client {
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 265px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  border: 0.5px solid darkgray;
  background-color: white;
  color: black;
}

.client:hover {
  box-shadow: 2px 2px 2px lightgray;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.client-email {
  font-weight: lighter;
}

.client-name {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: lighter;
}

.search-btn:hover {
  box-shadow: 2px 2px 2px lightgray;
}

.clients-top-line {
  display: flex;
  align-items: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.show-all {
  letter-spacing: 0.5px;
  font-family: 'Raleway', sans-serif; 
  font-size: 12px;
  text-decoration: none; 
  margin-bottom: 13px;
  color: black;
}

.show-all:hover {
  color: red;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


