
.google-lgn-btn {
  margin-top: 18px;
}

.login-scrn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 16px;
}

h1, #ship-notification-page {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  letter-spacing: 5px;
}

.descript {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  color: gray;
  font-size: 13px;
}

h2 {
  font-family: 'Raleway', sans-serif;  
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.logout {
  text-decoration: none;
  padding: 7px;
  border-radius: 2px;
  color: black;
  font-family: 'Raleway', sans-serif;  
  text-align: right;
}

.welcome-scrn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome, .client-name-show {
  font-weight: lighter;
  font-size: 37px;
  letter-spacing: 1px;
  margin: 29px;
}

.titles {
  font-size: 27px;
  letter-spacing: 14px;
  font-weight: lighter;
}

.drop {
  border: 0.5px solid darkgray;
}

.add-client-btn, 
.edit-client-btn, 
.new-style-btn, 
.edit-style-btn,
.back,
.submit-btn,
.send-shipping-notification-btn {
  margin: 10px;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid lightgray;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  padding-left: 11px;
  padding-right: 11px;
  color: black;
  background-color: white;
}

.add-client-btn:hover,
.edit-client-btn:hover, 
.new-style-btn:hover, 
.edit-style-btn:hover,
.back:hover,
.submit-btn:hover,
.send-shipping-notification-btn:hover {
  box-shadow: 2px 2px 2px lightgray;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  color: red;
}
